.bgblue
{
    background-color: rgb(6, 6, 26);
}
.navbar-brand
{
    font-size: 30px;
    margin-left: 11%;
    font-family: sans-serif;
}
.navbar-nav  
{
    margin-right: 10%;
}
.head
{
    color: white;
    text-align: center;
    align-items: center;
}
body{
    /* background-repeat: no-repeat; */
    background-color: #13B4CA;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
}
#keys{
    position: absolute;
    top: 40%;
    left: 17%;
    width: 100%;
    height: 55%;
}
.white{
    background-color: #ffffff;
    height: 95%;
    width: 5%;
    border-radius: 20px;
    position: absolute;
    color: #000000;
}
.black{
    background-color: #000000;
    position: absolute;
    height: 60%;
    width: 4%;
    border-radius: 20px;
    z-index: 3;
    color: #ffffff;
}
.keymaps{
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-align: center;
    font-size: xx-large;
}
#a_c{
    left: 7%;
}
#w_cc{
    left: 10%;
}
#s_d{
    left: 12.2%;
}
#e_dd{
    left: 15.3%;
}
#d_e{
    left: 17.4%;
}
#f_f{
    left: 22.6%;
}
#t_ff{
    left: 25.5%;
}
#g_g{
    left: 27.8%;
}
#y_gg{
    left: 31%;
}
#h_a{
    left: 33%;
}
#u_aa{
    left: 36.1%;
}
#j_b{
    left: 38.2%;
}
#k_c{
    left: 43.4%;
}
#o_cc{
    left: 46.5%;
}

#l_d{
    left: 48.6%;
}
#p_dd{
    left: 51.6%;
}
#_e{
    left: 53.8%;
}
.animate_white{
    animation: animation_1 0.1s;
}
@keyframes animation_1{
    0% {
        background-color: #ffffff;
    }
    50% {
        background-color: #6f6f6f;
    }
    100% {
        background-color: #ffffff;
    }
}
.animate_black{
    animation: animation_2 0.1s;
}
@keyframes animation_2{
    0% {
        background-color: #000000;
    }
    50% {
        background-color: #505050;
    }
    100% {
        background-color: #000000;
    }
}